body {
    margin: 0px;
    background-color: #fff;
    overflow: hidden;
}

.hud-container {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure HUD is on top of other content */
    width: 290px; /* Fixed width for HUD container */
    font-family: Verdana, sans-serif;
}

#key-list {
    list-style: none;
    padding: 0;
}

#key-list li {
    margin-bottom: 10px;
    font-size: 12px;
    color: #333;
    width: 280px; /* Fixed width for list items */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    font-family: Verdana, sans-serif;
}

.key-pressed {
    display: inline-block;
    background-color: #ffc107; /* Change color as needed */
    color: #333;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 8px; /* Add rounded corners */
    margin-right: 10px; /* Add spacing between items */
    white-space: nowrap; /* Prevent text wrapping */
}
